@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Outfit", sans-serif;
    
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: brown;
    color: antiquewhite;
    margin-left: 2rem;
    margin-right: 2rem;
}
.header-logo-title{
    display: flex;

}
.header-logo{
    display: block;
    margin: 0, auto;
    max-width: 50%;
    height: auto;
}
.header-title{
    margin-left: 2rem;
    margin-top: 0.6rem;
}
.header-navbarr{
    display: flex;
    gap: 4rem;
    font-size: 1.2rem;
    margin-top: 1.4rem;
    margin-right: 2rem;
    
}
.header-navbarr a{
    text-decoration: none;
    color: inherit;
}
main{
    
}
.introduction{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
}
.intro-article{
    margin-top: 2rem;
}
.intro-title{
    text-align: center;
    margin: 2rem;
}
.intro-text{
    text-align: center;
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}
.intro-subtext{
    font-size: small;
}
.catalogue-link{
    text-align: center;
    margin-left: 24rem;
    margin-top: 1rem;
    padding: 0.4rem;
    background-color: rgb(250, 214, 159);
    text-decoration: none;
    color: inherit;
    border-radius: 0.5rem;
}
.img-intro{
    display: block;
    margin: auto;
    max-width: 50%;
    height: 100%;
    border-radius: 1.5rem;
}
.news{
    margin-top: 2rem;
   
}
.news-title{
    text-align: center;
    
}
.news-article, .products-showing{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.news-card, .products-card{
    max-width: 100%;
    border-radius: 1rem;
    background-color: brown;
    color: antiquewhite;
    padding: 1rem;
    
}
.card-title{
    text-align: center;
}
.card-text, .products-text{
    margin: 1rem;

}
.card-link, .products-link{
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 1rem;
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    background-color: antiquewhite;
    padding: 0.2rem;
    border-radius: 0.5rem;

    
}
.footer{
    background-color: brown;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    text-align: center;
    color: antiquewhite;
    margin-left: 2rem;
    margin-right: 2rem;
}
.catalogue-title{
    text-align: center;
    font-size: 2.5rem;
    color: rgb(250, 214, 159);
    background-image: url(/docs/demande-client/00.assets/coffees/753915650.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1rem;
}

.products-menu{
    margin-top: 2rem;
    margin-right: 2rem;
    text-align: right;
    
}
.products-select{
    border: none;
    background-color: rgb(250, 214, 159);
    padding: 0.4rem;
    border-radius: 0.5rem;
}

.products-btn{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    border: none;
    background-color: rgb(250, 214, 159);
    padding: 0.4rem;
    border-radius: 0.5rem;
}
.img-detail{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    max-width: 100%;
    border-radius: 1.5rem;

}
.products-detail{
    background-color: brown;
    color: antiquewhite;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: 20rem;
    padding: 2rem;
    border-radius: 1.5rem;
}
.products-detail-title{
    margin-bottom: 1rem;
    font-size: 2rem;
}
.products-detail-text{
    font-size: 1.2rem;
}
.products-detail-link{
    display: block;
    text-decoration: none;
    color: black;
    background-color: antiquewhite;
    padding: 0.4rem;
    border-radius: 0.3rem;
    margin-right: 87.5rem;
    margin-top: 1rem;
    
}
.error-text{
    font-size: 2rem;
    font-weight: 530;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.error-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15rem;
}
.error-message{
    font-size: 3rem;
    font-weight: 530;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* Responsive pour les écrans de 768px et plus */
@media (max-width: 767px){
    .news-article, .products-showing{
        grid-template-columns: 1fr;
    } 
}

/* Responsive pour les écrans entre 768px et 1024px */
@media (min-width: 768px) and (max-width: 1024px){
    .news-article, .products-showing{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Responsive pour les écrans de 1025px et plus */
@media (min-width: 1025px){
    .news-article, .products-showing{
        grid-template-columns: repeat(3, 1fr);
    }
}
