<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/CSS/reset.css">
    <link rel="stylesheet" href="/css/CSS/style.css">
</head>
<body>
    <header class="header">
        <span class="header-logo-title">  
          <img class="header-logo" src="/images/logo.svg" alt="Logo-O-coffee">
          <h1 class="header-title">O'coffee</h1>
        </span>
          <nav class="header-navbarr">
            <span>
              <a href="/">Accueil</a>
            </span>
            <span>
              <a href="/catalogue">Catalogue</a>
            </span>
            <span>
              <a href="/shop">Boutique</a>
            </span>  
  
          </nav>
      </header>