<%- include('../partials/header') %>

<main>
    <p class="error-text">Ce ne sont pas ces grains de café que vous cherchez</p>
    <img class="error-image" src="/image/Jedi coffee.webp" alt="Obiwan drinking coffee">
    <p class="error-message">ERREUR 404</p>
    </main>

<%- include('../partials/footer') %>